<section id="section-start" class="content p-10">
  <div class="text-center">
    <h1 class="text-3xl font-bold">
      {{ welcomeMessage }}
    </h1>
  </div>

  <div class="text-center">
    <button mat-raised-button color="primary" class="button-start" (click)="startPriceCalculation()">Let's
      start?</button>
  </div>

</section>

<section class="content bg-indigo-100 min-h-[calc(100vh-400px)] p-10">
  @if (isPriceCalculationStarted) {
  <app-price-calculation></app-price-calculation>
  }
</section>

<section class="section-result bg-indigo-300 min-h-[20px]">
</section>

<section id="section-end" class="content bg-indigo-500 p-10">
  <div class="flex justify-end">
    <button mat-flat-button color="primary" (click)="scrollToSection('section-start')">Scroll to the top</button>
  </div>
</section>
