<mat-stepper orientation="vertical" [linear]="true" #stepper class="container md mx-auto">
  <!-- Step 1 -->
  <mat-step [stepControl]="formPeople">
    <form [formGroup]="formPeople" class="flex flex-col">
      <ng-template matStepLabel>How many people?</ng-template>
      <mat-form-field class="mt-2">
        <input matInput type="number" formControlName="adults" placeholder="How many adults?">
      </mat-form-field>
      <mat-form-field class="mt-2">
        <input matInput type="number" formControlName="children" placeholder="How many children?">
      </mat-form-field>
      <div class="flex justify-end mt-2">
        <button mat-flat-button color="accent" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Step 2  -->
  <mat-step [stepControl]="formFoods">
    <ng-template matStepLabel>What foods we want?</ng-template>

  </mat-step>

  <!-- Step 3  -->
  <mat-step [stepControl]="formDrinks">
    <ng-template matStepLabel>What drinks we want?</ng-template>

  </mat-step>
</mat-stepper>
