<!-- template  driven -->
<form (ngSubmit)="onSubmit()" class="example-form">
  <div class="flex flex-col mx-auto m-2 mb-8 w-80">
    <mat-form-field class="block">
      <mat-label>Nome</mat-label>
      <input matInput name="nome" [(ngModel)]="nome" placeholder="Digite o nome" required>
      <mat-error *ngIf="!nome">Nome é obrigatório</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!nome">Enviar</button>
  </div>
</form>

<!-- reactive form -->

<mat-stepper orientation="vertical" [linear]="true" #stepper class="w-[640px] mx-auto">
  <mat-step [stepControl]="formPeople">
    <form [formGroup]="formPeople" class="flex flex-col">
      <ng-template matStepLabel>How many people?</ng-template>
      <mat-form-field class="mt-2">
        <input matInput type="number" formControlName="adults" placeholder="How many adults?">
      </mat-form-field>
      <mat-form-field class="mt-2">
        <input matInput type="number" formControlName="children" placeholder="How many children?">
      </mat-form-field>
      <mat-error *ngIf="formPeople.invalid || formPeople.get('adults')?.hasError('min')">
        At least one adult is required!</mat-error>
      <mat-error *ngIf="formPeople.get('adults')?.value < 0 || formPeople.get('children')?.value < 0">
        Can't add negative values!
      </mat-error>

      <div class="flex justify-end mt-2">
        <button mat-flat-button color="accent" matStepperNext
          [disabled]="formPeople.invalid || (formPeople.get('adults')?.value <= 0 || formPeople.get('children')?.value < 0)">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="formFoods">
    <form [formGroup]="formFoods" class="flex flex-col">
      <ng-template matStepLabel>What foods we want?</ng-template>
      <ng-container *ngFor="let food of foodsList; let i = index">
        <mat-checkbox [formControlName]="food.value">{{food.label}}</mat-checkbox>
      </ng-container>
      <div class="flex justify-end mt-2">
        <button mat-flat-button color="accent" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="formDrinks">
    <form [formGroup]="formDrinks" class="flex flex-col">
      <ng-template matStepLabel>What drinks we want?</ng-template>
      <ng-container *ngFor="let drink of drinksList; let i = index">
        <mat-checkbox [formControlName]="drink.value">{{drink.label}}</mat-checkbox>
      </ng-container>
      <div class="flex justify-end mt-2">
        <button mat-flat-button color="accent" type="button" (click)="submit()">Finish</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
